<!DOCTYPE html>
<html>
<head>
    <title>BuscaActiv en Facebook</title>
    <link rel="stylesheet" type="text/css" href="/css/facebo.css">
</head>
<body>

    <div class="titulo">
        <h1>BuscaActivos en Facebook</h1>
    </div>
    <div class="ima">
        <img src="/img/face.png"/>
    </div>
    <div class="cuerpo">
        <h3>Ingrese el nombre a buscar:</h3>
        <input />
        <div class="boton">
            <a class="bn62"> Buscar </a>
        </div>
    </div>
    <div class="resultados">
        <h3>Resultados:</h3>
        <ul id="listaResultados"></ul>
    </div>
    <div class="regresarBTN">
        <a href="../" class="bn62"> Regresar </a>
    </div>

</body>
</html>