@font-face {
    font-family: 'Circulito'; /* Nombre de la fuente personalizada */
    src: url('../fonts/circular-std-medium-500.ttf') format('truetype');
}


body {
    background-color: #1b2f31;
    margin: 0;
    font-family: Circulito;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}
.ima {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.ima img{
    height:80px;
    width:80px;
}

.bn62 {
    color: #1b2f31;
    background-color: #1cc49d;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3em;
    width: 8em;
    font-size: large;
    font-weight: 600;
}

.titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: xx-large;
    color: #1cc49d;
}

.cuerpo {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .cuerpo h3 {
        color: white;
    }

.boton {
    padding: 10px;
    margin: 10px;
}

.resultados {
    color: white;
}
.regresarBTN {
    position: absolute;
    bottom: 10px;
    left: 10px;
}