@font-face {
    font-family: 'Circulito'; 
    src: url('../fonts/circular-std-medium-500.ttf') format('truetype');
}

body {
    color: white;
    margin: 20px; 
    font-family: Circulito;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 20px; 
    justify-content: center;
}

.subdomain-item {
    border: 1px solid #ccc;
    padding: 10px;
}

.regresarBTN {
    margin-top: auto; 
}
