<!DOCTYPE html>
<html>
<head>
    <title>BuscaActiv en Google</title>
    <link rel="stylesheet" type="text/css" href="/css/goog.css">
</head>
<body>

    <div class="titulo">
        <h1>BuscaActivos en Google</h1>
    </div>
    <div class="cuerpo">
        <h3>Ingrese el dominio a buscar:</h3>
        <input />
        <div class="boton">
            <a class="bn62"> Buscar </a>
        </div>
    </div>
    <div class="resultados">
        <h3>Resultados:</h3>
        <ul id="listaResultados"></ul>
    </div>
    <div class="regresarBTN">
        <a href="../" class="bn62"> Regresar </a>
    </div>
   
</body>
</html>