<!DOCTYPE html>
<html>
    <head>
        <title>
            Busca Activos
        </title>
        <link rel="stylesheet" type="text/css" href="/css/site.css">
    </head>
    
    <body>
    <div class="titulo">
        <h1> Bienvenidos a BuscaActivos </h1>
    </div>
    
    <div class="botones">
        <a href="../subdomain/Index" class="bn62">
            Subdominios
        </a>
        <a href="../google/Index" class="bn62">
            Google
        </a>
        <a href="../socialNets/Index" class="bn62">
            Social Nets
        </a>
        
        
    </div>
    
    </body>
</html>