<!DOCTYPE html>
<html>
    <head>
        <title>
            Busca Activos
        </title>
        <link rel="stylesheet" type="text/css" href="/css/site.css">
    </head>
    
    <body>
    <div class="titulo">
        <h1> Bienvenidos a BuscaActivos </h1>
    </div>
    <div class="img">
       
    </div>
    <div class="botones">
        <a href="/buttons/62" class="bn62">
            Subdominios
        </a>
        <a href="/buttons/62" class="bn62">
            Google
        </a>

    </div>
    
    </body>
</html>